<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<p>App component counter = {{counter}}</p>
<p><button (click)="increaseCounter()" >Increase App Component counter</button></p>
<button (click)="getHelloWorldCounterValue()">Get Hello World Counter </button> -->

<div class="container">
    <div class="row">
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
      <div class="col-xl-1 col-lg-2 col-md-4 col-sm-6 col-xs-12">xl=1 lg=2 md=4 sm=6 xs=12</div>
    </div>
  </div>